*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Merriweather', serif;
    line-height: 2rem;
    word-spacing: 2px;
    color: black;
}

i{
    font-size: 1rem;
    transition-property:font-size;
    transition-duration: 1s;
    transition-timing-function: linear;
}

i:hover{
     font-size: 1.5rem;
}

/* anchor tags */
a{
    font-size: 1rem;
    transition-property:font-size;
    transition-duration: 2s;
    transition-timing-function: linear;
    text-decoration: none;
}

a:link{ 
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
  text-decoration: none;
}

a:hover{
    color: rgb(232, 9, 91);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

a:active{
    color: rgb(9, 20, 232);
    text-decoration: underline;
}

/* Title */
.title-content{
    padding-left: 20px;
    background: linear-gradient(to  right, #a8ff78, #78ffd6, #C6FFDD, #FBD786, #f7797d);
    /* #d2f6c5;*/
    border: 3px solid black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 1px rgb(0, 0, 0);
}

/* images */
.imgbox{
    background-color:black;
    box-shadow: 2px 2px 8px 1px rgb(0, 0, 0);
    transition: transform 2s;
}
.imgbox:hover
{
    transform: rotate(360deg);
}

/* skills */
.fa-react,.fa-html5,.fa-css3-alt,.fa-bootstrap,.fa-js-square,.fa-node-js,.fa-windows,.fa-ubuntu,.fa-php,.fa-python,.fa-java,.fa-cuttlefish,.fa-plus,.fa-envira,.fa-feather,.fa-file-word,.fa-file-excel,.fa-file-powerpoint
{
    font-size: large;
}

.fa-html5,.fa-ubuntu,.fa-file-powerpoint{
    color: orangered;
    
}

.fa-bootstrap,.fa-php,.fa-cuttlefish,.fa-plus{
    color: purple;
}

.skill-img{
    width: 20px;
    height: 20px;
    transition: transform 1s;
}

.skill-img:hover{
    transform: scale(1.5, 1.5);
}

