body{
    font-size: 16px;
    font-family: 'Merriweather', serif;
    line-height: 2rem;
    word-spacing: 2px;
    color: black;
}


a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}


a:hover{
    color: rgb(232, 9, 91);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    
}

a:active{
    color: rgb(9, 20, 232);
    text-decoration: underline;
}

.title-content{
    padding-left: 20px;
    background: linear-gradient(to  right, #a8ff78, #78ffd6, #C6FFDD, #FBD786, #f7797d);
    /* #d2f6c5;*/
    border: 3px solid black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
}


.img-thumbnail
{
    background-color:black;
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
}

